{% extends 'base.html' %}
{% load blog_tags %}

{% block meta %}
<title>{{ movie.name }}</title>
<meta name="description" content="{{ movie.excerpt }}"/>
<meta name="keywords" content="{% for tag in movie.tag.all %}{{ tag.name }},{% endfor %}"/>
{% endblock %}

{% block content_left %}
    <div class="django-panel">
        <div class="article">
            <!--文章头部信息-->
            <div class="article-header">
                <h2>{{ movie.title }}</h2>
                <div class="article-meta">
                    <span>日期：{{ movie.created_time }}</span>

                    <span>分类：<a href="" itemprop="url" rel="index">{{ movie.category }}</a></span>

                    <span>
                        <span>标签：
                            {% for tag in movie.tag.all %}
                                <a href="">{{ tag.name }}</a>
                            {% endfor %}
                        </span>
                    </span>
                    <span class="post-views">阅读（{{ movie.views }}）</span>
                </div>
            </div>

            <div class="article-body">
                {% autoescape off %}
                    {{ movie.detail }}
                {% endautoescape %}
            </div>

            <div class="article-copyright">
                <ul>
                  <li><strong>网站名称： </strong><a href="{% url 'blog:index' %}">向东的笔记本</a></li>
                  <li><strong>本文链接：</strong>本文链接：<a href="{{ movie.get_absolute_url }}" title="{{ movie.name }}"> https://www.eastnotes.com{{ movie.get_absolute_url }}</a></li>
                  <li><strong>版权声明： </strong>本博客所有文章除特别声明外，均采用 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="noopener" target="_blank"><i class="fa fa-fw fa-creative-commons"></i>BY-NC-SA</a> 许可协议。转载请注明出处！</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}



{% block tag_sidebar %}
    <div class="sidebar" >
            <div class="title"><h3>热门标签</h3></div>
            <div class="git_tags">
                {% get_movies_tags as tags %}
                {% for tag in tags %}
                    <a href="{{ tag.get_absolute_url  }}" data-original-title="1304个话题">{{ tag.name }}</a>
                {% endfor %}
            </div>
    </div>
{% endblock %}

{% block toc_sidebar %}
    <div class="sidebar" >
            <div class="title">
                <h3>文章目录</h3>
            </div>
                <div class="post-toc" style="max-height: 448px;">
                    {% autoescape off %}
                    {{ movie.toc }}
                    {% endautoescape %}
                </div>
    </div>
{% endblock %}